

body {
  background: #000000;
  /* fallback for old browsers */
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
  font-family: 'Montserrat', sans-serif !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #090b13;
  min-height: 100vh;


}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.glass-effect {
  background-color: #00000060;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
}

.color-span {
  color: rgba(245, 245, 245, 0.6);
}

.btn-secondary:hover {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.justify-footer{
  min-height: calc(100vh - 128px);
}

.featured-images {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.releases-images {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.featured-card-box {
  text-decoration: none;

}